<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" href="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <script type="text/javascript" src="../testapp/public/scripts.js"></script>
  <title>Example App</title>

    <style>
      .col-xs-12{
        height: 100px;
        background-color: blue;
        color: white;
        text-align: center;
      }
    </style>

    <style>
      .col-xs-6{
        height: 100px;
        background-color: yellow;
        color: black;
        text-align: center;
        border: 2px solid black;
      }
    </style>
</head>

<body>
    <div class="container">
      {{{body}}}
    </div>
</body>
</html>
