<!DOCTYPE html>
<html>
<head>

<button type="button" class="btn btn-default navbar-btn">Sign in</button>

  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" href="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>Example App</title>

  <div class="container">
    <!DOCTYPE html>
<html>

<head>
    <script>
        var videos = ["https://www.youtube.com/embed/9bZkp7q19f0", "https://www.youtube.com/embed/dQw4w9WgXcQ"];
        window.onload = function () {
            var playerDiv = document.getElementById("random_player");
            var player = document.createElement("IFRAME");
            var randomVideoUrl = videos[Math.floor(Math.random() * videos.length)];
            player.setAttribute('width', '200');
            player.setAttribute('height', '120');
            player.setAttribute('src', randomVideoUrl);
            playerDiv.appendChild(player);
        };
    </script>

    <style>
      .col-xs-12{
        height: 100px;
        background-color: blue;
        color: white;
        text-align: center;
      }
    </style>

    <style>
      .col-xs-6{
        height: 100px;
        background-color: yellow;
        color: black;
        text-align: center;
        border: 2px solid black;
      }
    </style>
</head>

<body>
    <div id="random_player" />
</body>

</html>
  <div class="inner">Hello</div>
  <div class="inner">Goodbye</div>
</div>

</head>

<body>
    <div class="container">

      <div class="row">

        <div class="col-xs-12">.col-xs-12</div>

      </div>

      <div class="row">

        <div class="col-xs-6">
          .col-xs-6
        </div>

        <div class="col-xs-6">
          .col-xs-6
        </div>

      </div>

    </div>

    {{{body}}}

</body>
</html>
