<h1>Posts Page</h1>
    <ul class="posts">
        <li class="post">hello friend</li>
        <li class="post">hello pall</li>
        <li class="post">hello buddy</li>
    </ul>
    <form action='#' id='post-form'>
        <textarea name="body" class="form-control"></textarea>
        <div class='text-right'>
            <button type='submit'>Save</button>
        </div>
  </form>
