<div class="row">
  <div class="col-xs-12">
    <h1>Baba Booey! Hit em' with the Hein!</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    .col-xs-6
  </div>
  <div class="col-xs-6">
    .col-xs-6
  </div>
</div>
